@model InterviewManager.Models.AppointmentManager

<div id='calendar'></div>
<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
</div>

<script>

    $(document).ready(function () {

        var createPopup = function(date)
        {

        };

        var viewRenderFunction = function (view, element) {

        };

        var eventClickFunction = function(cal_event, js_event, view)
        {
            alert('Event: ' + calEvent.title);
            alert('Coordinates: ' + jsEvent.pageX + ',' + jsEvent.pageY);
            alert('View: ' + view.name);
        };

        var dayClickFunction = function(date, jsEvent, view)
        {
            if (view.name == 'month')
            {
                $('#calendar').fullCalendar('gotoDate', date);

                $('#calendar').fullCalendar('changeView', 'agendaDay');
            }

            if (view.name == 'agendaDay')
            {
                var url = "/InterviewManager/CreateEventFormPopUp?start=" + date.format();;
                $.get( url, function( data ) {
                    $("#myModal").html(data);
                    $("#myModal").modal();
                });
            }
        };

        $('#calendar').fullCalendar({
            // put your options and callbacks here
            header: {
                left: 'prev,next today',
                center: 'title',
                right: 'month,agendaDay'
            },
            slotMinutes: 30,
            defaultView: 'month',
            allDaySlot: false,
            selectable: true,
            events: @Html.Raw(Json.Encode(Model.Events)),
            viewRender : viewRenderFunction,
            eventClick : eventClickFunction,
            dayClick : dayClickFunction

        })

    });

</script>