@model InterviewManager.Models.AppointmentManager

<div id='calendar'></div>
<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Schedule Interview</h4>
            </div>
            <div class="modal-body">
                <p>Some text in the modal.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>

<script>

    $(document).ready(function () {

        var viewRenderFunction = function (view, element) {

        };

        var eventClickFunction = function(cal_event, js_event, view)
        {
            alert('Event: ' + calEvent.title);
            alert('Coordinates: ' + jsEvent.pageX + ',' + jsEvent.pageY);
            alert('View: ' + view.name);
        };

        var dayClickFunction = function(date, jsEvent, view)
        {
            if (view.name == 'month')
            {
                $('#calendar').fullCalendar('gotoDate', date);

                $('#calendar').fullCalendar('changeView', 'agendaDay');
            }

            if (view.name == 'agendaDay')
            {
                $("#myModal").modal();
            }

        };

        $('#calendar').fullCalendar({
            // put your options and callbacks here
            header: {
                left: 'prev,next today',
                center: 'title',
                right: 'month,agendaDay'
            },
            slotMinutes: 30,
            defaultView: 'month',
            allDaySlot: false,
            selectable: true,
            events: @Html.Raw(Json.Encode(Model.Events)),
            viewRender : viewRenderFunction,
            eventClick : eventClickFunction,
            dayClick : dayClickFunction

        })

    });

</script>