@using InterviewManager.Models
@model AppointmentManager
@{
    ViewBag.Title = "Index";
    //Layout = null;
}

<h2>Interview Manager</h2>

@*Change this to a shared view also used in InterviewSchedule*@
<div class="form-group" id="viewType">
    <label for="interviewerSelect">Select an Interviewer:</label>
    <div class="radio">
        <label><input type="radio" name="optradio" value="1" checked>Single Interviewer</label>
    </div>
    <div class="radio">
        <label><input type="radio" name="optradio" value="2">Multiple Interviewers</label>
    </div>
</div>

<div class="form-group" id="single">
    <label for="interviewerSelect">Select an Interviewer:</label>
    <select class="form-control" id="interviewerSelect">
        <option value="none">--</option>
        <option value="mario@rossrmsdemo.onmicrosoft.com">Mario</option>
        <option value="interviewer1@rossrmsdemo.onmicrosoft.com">interviewer1</option>
        <option value="interviewer2@rossrmsdemo.onmicrosoft.com">interviewer2</option>
    </select>
</div>

<div class="form-group" id="multiple">
    <div class="checkbox">
        <label><input type="checkbox" value="mario@rossrmsdemo.onmicrosoft.com">mario@rossrmsdemo.onmicrosoft.com</label>
    </div>
    <div class="checkbox">
        <label><input type="checkbox" value="interviewer1@rossrmsdemo.onmicrosoft.com">interviewer1@rossrmsdemo.onmicrosoft.com</label>
    </div>
    <div class="checkbox">
        <label><input type="checkbox" value="interviewer2@rossrmsdemo.onmicrosoft.com" >interviewer2@rossrmsdemo.onmicrosoft.com</label>
    </div>
</div>


    <div id="calendarContainer"></div>

    <script>

        $(document).ready(function () {
            // initially hide the check box
            $("#multiple").hide();

            // select single or multiple. Will either hide the dropdown for multiple or checkbox for single
            $("input:radio").on("click", function () {
                var value = $("input:checked").val();

                if (value == "1")
                {
                    $("#single").show();
                    // hide 
                    $("#multiple").hide();
                    // clear
                    $('.checkbox :checked').removeAttr('checked');
                    $('#calendar').fullCalendar('removeEvents');

                }
                else
                {
                    $("#single").hide();
                    $("#multiple").show();
                    $('#calendar').fullCalendar('removeEvents');

                }
            });


            $("#interviewerSelect").change(function () {
                console.log("single select");

                var value = $(this).val();
                var url = "/InterviewManager/Load?users=" + value + "&start=" + moment().format() + "&end=" + moment().add(40, 'days').format();
                $.get(url, function (data) {
                    $("#calendarContainer").html(data);
                });
            });

            $("input[type=checkbox]").on("click", function () {
                console.log("multi select");

                var users = [];
                $('.checkbox :checked').each(function () {
                    users.push( $(this).val());
                });
                var url = "/InterviewManager/Load";
                $.get(url, $.param({ users: users, start: moment().format(), end: moment().add(40, 'days').format() }, true), function (data) {
                    $("#calendarContainer").html(data);
                });
            });
        });

    </script>

